/*start button*/
.btn-white {
    color: #222;
    background-color: #fff;
    /*border-color: #fff;*/
}

.btn-grey {
    color: #6c757d;
    /*border-color: #6c757d;*/
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #2F4764;
    /*border-color: #2F4764;*/
    background-color: #FFE210;
  }

.btn-style {
    border-radius: 300px;
    font-family: 'Varela', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none !important;
}

.btn-style-login {
    border-radius: 300px;
    font-family: 'Varela', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 11px;
    padding: 10px 10px;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}

.card {
    margin: 10px;
}

.text-normalize {
    font-size: 12px !important;
}

/*end button*/


/*start navbar*/
.nav-pad-0 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.nav-pad-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#mainNav {
    border-color: #fff;
    background-color: #27262B;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-weight: 200;
    letter-spacing: 1px;
    color: #000;
}

#mainNav .navbar-brand {
    color: #2F4764;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 20px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
    color: #fff;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #fff;
}

#mainNav .navbar-nav>li>a {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
    border-bottom:2px solid #fff;
    color: #fff !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {

    background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
    color: #fff;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
    color: #fff;
}

    @media (min-width: 992px) {
        #mainNav {
            border-color: transparent;
            background-color: transparent;
            /* padding-top: 20px;
            padding-bottom: 20px; */
        }
        #mainNav .navbar-brand {
            color: fade(white, 70%);
        }
        #mainNav .navbar-brand:hover,
        #mainNav .navbar-brand:focus {
            color: #fff;
        }
        #mainNav .navbar-nav>li>a,
        #mainNav .navbar-nav>li>a:focus {
            font-weight: bold;
            color: #fff;
        }
        #mainNav .navbar-nav>li>a:hover,
        #mainNav .navbar-nav>li>a:focus:hover {
            border-bottom:2px solid #fff;
            color: #fff;
        }
        #mainNav.navbar-shrink {
            border-color: #fff;
            background-color: #27262B;
        }
        #mainNav.navbar-shrink .navbar-brand {
            color: #fff;
        }
        #mainNav.navbar-shrink .navbar-brand:hover,
        #mainNav.navbar-shrink .navbar-brand:focus {
            color: #fff;
        }
        #mainNav.navbar-shrink .navbar-nav>li>a,
        #mainNav.navbar-shrink .navbar-nav>li>a:focus {
            color: #fff;
        }
        #mainNav.navbar-shrink .navbar-nav>li>a:hover,
        #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover {
            color: #fff;
        }
    }
/*end navbar*/

/*start section login*/

html,
body {
    width: 100%;
    height: 100%;
}

section#login{
/*
	padding-top: 150px;*/
    height:  100%;
    position: relative;
    background: /*url('../images/login.png'), */linear-gradient(to bottom, #27262B, #413454);
    background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

section#login .login {
	max-width: 800px;
	padding-top: 110px;

}

section#login .login-row {
	background-color: #fff;
	border-radius: 5px;

}

section#login .caption-login {
	padding: 0px;
	/*background-color: #fff;*/
	text-align: right;
}

section#login .main {
	/*background-color: #fff;*/

}

section#login .main-login {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 50px;
	padding-left: 50px;
}

.button{
  align-self: center;
  padding: 10px 100px 10px 100px;
  color: white;
  /*font-family: arial;*/
  font-size: 12px;
  font-family: 'Varela', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background: #413454;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.button:hover{
 background: #27262B;
}

.button:active{
  transform: scale(1.025);
}

.text-login {
	color: #E03A3A;
}


/*==================================================================
[ Form ]*/

section#login .login100-form {
  width: 100%;
}

section#login .login100-form-title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #413454;
  line-height: 1.2;
  text-align: center;
}

/*------------------------------------------------------------------
[ Input ]*/

section#login .wrap-input100 {
  width: 100%;
  color: #333;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

section#login .input100 {
  font-family: SourceSansPro-Bold;
  font-size: 12px;
  color: #333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 20px 0 23px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

section#login input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    opacity: 1; /* Firefox */
}

section#login .focus-input100 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #333;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 20px;
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

section#login .input100:focus + .focus-input100 {
  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------------
[ Button ]*/
section#login .container-login100-form-btn {
  margin-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#login .login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  letter-spacing: 2px;
  height: 50px;
  background-color: #2F4764;
  border-radius: 25px;

  font-family: SourceSansPro-SemiBold;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(47, 71, 100, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(47, 71, 100, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(47, 71, 100, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(47, 71, 100, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(47, 71, 100, 0.5);
}

section#login .login100-form-btn:hover {
  color: #2F4764;
  background-color: #FFE210;
  box-shadow: 0 10px 30px 0px rgba(255, 226, 16, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 226, 16, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 226, 16, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 226, 16, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 226, 16, 0.8);
}

section#login .button-daftar {
    margin-top: 10px;
  }

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 480px) {
  section#login .wrap-login100 {
    margin-top: 50px;
  }

  section#login{
    padding-top: 35px;
    
    position: relative;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
  }

  section#login .caption {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
    width: 100%;  
    text-align: center;
  /*background-color: #fff;*/
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*padding: 15px;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;

  }

  section#login .button-daftar {
    margin-top: 10px;
  }

}

@media (max-width: 320px) {
  section#login .wrap-login100 {
    margin: 10px;
    
  }

  section#login{
    padding-top: 35px;
    height: 1000px;
    position: relative;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
  }

  section#login .container-login100 {
    margin-top: 0px;
  }
}

section#login.caption-daftar {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

/*end login section*/

